@import "tailwindcss";
@plugin "tailwind-scrollbar";
@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @keyframes scroll-left {
   
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 10s linear infinite;
  }
}
